<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Platform Bringup Simulator -->
  <node pkg="autodrive_opencav" type="server.py" name="autodrive_ros_bridge" output="screen"/>

  <!-- AEB Function Simulator -->
  <node pkg="aeb_function" type="opencav_aeb_simulator.py" name="opencav_aeb_simulator" output="screen"/>

  <!-- Visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find aeb_function)/rviz/aeb_function_simulator.rviz" required="true" />

</launch>
