<?xml version="1.0"?>
<RecentConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RecentSetups>
    <SetupPair>
      <Id>Vehicle.RRSecondBumpStop</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RRSpring</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RRTyre</Id>
      <Name>60197609-12d3-453e-a6a9-36272e11e08e</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.SeatSensor</Id>
      <Name>Disabled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Settings</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ShiftHandler</Id>
      <Name>Disabled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.SplitterCompliance</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.SplitterDeflection</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Steering</Id>
      <Name>197c31e2-136f-4fe0-a667-bd34bf308f98</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.SuspensionFront</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.SuspensionRear</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ThrottleMap</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.VehicleGeometry</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Simulation</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Driver</Id>
      <Name>Fuel Cycle Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Implement.Plow</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Implement.Plow.ActivelyDriven</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Plow.Tyre</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.ActivelyDriven</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.Tyre</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>MultiDYS</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>TC</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Testbed</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Track</Id>
      <Name>AVL Testtrack</Name>
    </SetupPair>
    <SetupPair>
      <Id>Track.Wind</Id>
      <Name>no_Wind</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Aero</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Ambience</Id>
      <Name>normal</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ARBFront</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ARBRear</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ARBSecondRear</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Brakes</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.CenterDifferential</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Clutch</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Cooling</Id>
      <Name>BASE</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.DifferentialBearing</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.DriveTrain</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ECU</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Engine</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.EngineBearing</Id>
      <Name>Disabled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.ExternalForce</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLBumpStop</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLCompliance</Id>
      <Name>Full-size Class FL</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLDamper</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLReboundLimiter</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLSecondBumpStop</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLSpring</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FLTyre</Id>
      <Name>60197609-12d3-453e-a6a9-36272e11e08e</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRBumpStop</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRCompliance</Id>
      <Name>Full-size Class FR</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRDamper</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FrontDifferential</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRReboundLimiter</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRSecondBumpStop</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRSpring</Id>
      <Name>Full-size Class Front</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.FRTyre</Id>
      <Name>60197609-12d3-453e-a6a9-36272e11e08e</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.GearBox</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveBumpStopFront</Id>
      <Name>Mini_P154_SuspFront_F</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveBumpStopRear</Id>
      <Name>Mini_P154_SuspFront_R</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveDamperFront</Id>
      <Name>Mini_P154_SuspFront_F</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveDamperRear</Id>
      <Name>Mini_P154_SuspFront_R</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveInerterFront</Id>
      <Name>Mini_P154_SuspFront_F</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveInerterRear</Id>
      <Name>Mini_P154_SuspFront_R</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveSpringFront</Id>
      <Name>Mini_P154_SuspFront_F</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.HeaveSpringRear</Id>
      <Name>Mini_P154_SuspFront_R</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.Initialization</Id>
      <Name>Demo_Compact_FWD</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.KERSController</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.KERSMotorGenerator</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.KERSStorage</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.KnCRig</Id>
      <Name>Bounce_60</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.LeftAuxiliaryBumpStop</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.MGUH</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RearDifferential</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RightAuxiliaryBumpStop</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLBumpStop</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLCompliance</Id>
      <Name>Full-size Class RL</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLDamper</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLReboundLimiter</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLSecondBumpStop</Id>
      <Name>untitled</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLSpring</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RLTyre</Id>
      <Name>60197609-12d3-453e-a6a9-36272e11e08e</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RRBumpStop</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RRCompliance</Id>
      <Name>Full-size Class RR</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RRDamper</Id>
      <Name>Full-size Class</Name>
    </SetupPair>
    <SetupPair>
      <Id>Vehicle.RRReboundLimiter</Id>
      <Name>Full-size Class Rear</Name>
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.Suspension</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.ARB</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.Compliance</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.Spring</Id>
      <Name />
    </SetupPair>
    <SetupPair>
      <Id>Implement.Trailer.Damper</Id>
      <Name />
    </SetupPair>
  </RecentSetups>
</RecentConfig>